.App {
  font-family: sans-serif;
  text-align: center;
}

ul{
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
}

li {
  list-style: none;
  padding: 0.5rem;
  border: 1px solid;
  width: 150px;
}

.List {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body{
  display:flex;
  flex-direction: row;

}